@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

#style-map {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(60px);
    border-right: 2px solid rgba(225, 225, 225, .2);
    padding: 6px 14px;
    transition: .5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.sidebar.active {
    width: 260px;
}

.sidebar .logo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.sidebar .logo-menu .logo {
    font-size: 25px;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    transition-delay: .3s;
}

.sidebar.active .logo-menu .logo {
    opacity: 1;
    transition: .2s;
}

.sidebar .logo-menu .toggle-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    list-style: 40px;
    cursor: pointer;
    transition: .5s;
}

.sidebar.active .logo-menu .toggle-btn {
    left: 90%;
}

.sidebar .list {
    margin-top: 10px;
}

.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}

.list .list-item a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .5s;
}

.list .list-item.active a,
.list .list-item a:hover {
    background: rgba(225, 225, 225, .2);
}

.list .list-item a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}

.popup {
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    background-color: white;
    letter-spacing: normal;
    padding: 20px;
    border: 1px;
    font-size: 15px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    width: auto;
    height: auto;
    /* color: #000000; */
    word-wrap: break-word;
    white-space: pre;
}

/* กำหนดสีข้อความทั้งหมดให้เป็นสีน้ำเงิน */
/* .cm-s-my-custom-theme {
    color: blue;
} */

/* กำหนดสีพื้นหลังของโค้ด GeoJSON ให้เป็นสีดำ */
/* .cm-s-my-custom-theme .CodeMirror-line {
    background-color: black;
} */

/* กำหนดสีขอบของ syntax ทั้งหมดให้เป็นสีน้ำเงิน */
.cm-s-my-custom-theme .CodeMirror span {
    color: rgb(0, 0, 0);
}

/* กำหนดสีขอบของตัวเลขพิกัดให้เป็นสีเขียว */
.cm-s-my-custom-theme .CodeMirror span.cm-number {
    color: green;
}

/* กำหนดสีขอบของเครื่องหมายคำพูดให้เป็นสีน้ำเงิน */
.cm-s-my-custom-theme .CodeMirror span.cm-string {
    color: blue;
}